$xs-size: 0.8rem;
$sm-size: 1.2rem;
$md-size: 1.6rem;
$lg-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

$font-size-large: 2rem;

$off-white: #f7f7f7;
$dark-grey: #333333;
$mid-grey: #666;

$orange-one: rgb(190, 150, 86);
$orange-two: #ffb84d;
$orange-three: #e68a00;
